* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #2B2B2B;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: white;
  letter-spacing: 0.1em;
}
