nav {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 40px;
  width: 100vw;
  height: 70px;
  background: #2B2B2B;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
  nav {
    padding: 0 16px;
  }
}
