<mat-toolbar *ngIf="user" class="mat-elevation-z8">
  <img src="{{ logo }}" alt="Logo">

  <div class="right-side">
    <button type="button" mat-icon-button matTooltip="Ver perfil" [routerLink]="['users', user.username]">
      <img src="{{ user.avatar_url }}" alt="{{ user.name }}">
    </button>

    <button type="button" mat-icon-button matTooltip="Sair" (click)="dispatchLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="container">
  <nav *ngIf="user"></nav>

  <main [ngClass]="user && 'with-sidenav'">
    <router-outlet></router-outlet>
  </main>
</div>
