main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 80px);
}

.intro {
  flex: 1;
}

.intro h1 {
  font-weight: 700;
  margin-bottom: 40px;
}

.intro h2 {
  font-weight: 400;
}

.intro h1,
.intro h2 {
  font-size: 32px;
  line-height: 42px;
}

.login-form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.bordered-box {
  width: 400px;
  height: 400px;
  border: 2px solid #6500E7;
  border-radius: 50px;
}


@media (max-width: 992px) {
  main {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0;
  }

  .intro {
    text-align: center;
    padding: 0 16px;
  }

  .login-form-container {
    flex: 3;
    padding: 0 16px;
  }
}

@media (max-width: 425px) {
  .bordered-box {
    width: 100%;
    margin-top: 20px;
  }
}
